<section id="about" class="section">
    <div class="container">
        <h2 class="section-title">Über mich</h2>
        <p class="about-text">Ich bin im 1. Lehrjahr als Informatiker Applikationsentwickler und wohne im Kanton Freiburg. Meine Lehre habe ich gerade begonnen, und ich freue mich darauf, mein Wissen und meine Fähigkeiten in der Praxis zu vertiefen. Ich setze gerne meine Ideen in Projekte um und habe bereits einige kleine Projekte gemacht. Besonders interessieren mich Webentwicklung, Datenbanken und APIs.</p>
    </div>
</section>
