<section id="projects" class="section">
    <div class="container">
        <h2 class="section-title">Projekte</h2>
        <div class="project-cards">
            <div class="card">
                <img src="assets/img/F1Webseite.png" alt="F1 Angular Webseite" class="project-img">
                <h3>F1 Angular Website</h3>
                <p>A website built with Angular that connects to an F1 API. It displays all drivers or tracks, with a detailed view for each.</p>
            </div>
            <div class="card">
                <img src="assets/img/ferrariAPI.png" alt="Ferrari Rest API" class="project-img">
                <h3>Ferrari Rest API</h3>
                <p>A REST API built with Java Spring Boot, featuring various Ferrari models. It includes several endpoints where Ferraris can be sorted and filtered.</p>
            </div>
            <div class="card">
                <img src="assets/img/LocoGeoWebseite.png" alt="Loco Geo" class="project-img">
                <h3>Loco Geo</h3>
                <p>An Angular website where you can take a flag quiz. At the end, it shows a score with the number of correct answers and the time taken.</p>
            </div>
            <div class="card">
                <img src="assets/img/SQL.png" alt="Loco Geo" class="project-img">
                <h3>Autohändler</h3>
                <p>A big MySQL project where we created a database for a car dealer, so they can see everything from employees to maintenance.</p>
            </div>
            
        </div>
    </div>
</section>